.timeline-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 1.5em 0;
    font-size: 1em;
}


.timeline-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1.0em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

.timeline-button:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.timeline-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.timeline-bold {
    color: rgba(255, 255, 255, 0.5);
}

.dark.timeline-control {
    color: #4d4d4d;
}
.dark .timeline-bold {
    color: #282828;
}

.dark .timeline-button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    color: #252525;
}
