


.timeline-control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline-button {
    margin: 16px;
    padding: 4px;

    border: #ffffff61 solid 1px;
    border-radius: 100%;

    transition: background-color .3s, opacity .1s;
}

.timeline-button:hover {

    background-color: #ffffff1d;
}

.timeline-bold {
    font-weight: bolder;
}

.timeline-button:disabled {
    background-color: none;
    opacity: 10%;
    
}